<a href="https://colab.research.google.com/github/IBM-EPBL/IBM-Project-52532-1661009383/blob/main/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Basic Python

## 1. Split this string

In [ ]:
s = "Hi there Sam!"

In [ ]:
s ="Hi there Sam"
x = s.split()
print(x)

['Hi', 'there', 'Sam']

## 2. Use .format() to print the following string. 

### Output should be: The diameter of Earth is 12742 kilometers.

In [ ]:
planet = "Earth"
diameter = 12742

In [ ]:
txt = "The diameter of {planet} is {diameter} kilometer"
print(txt.format(planet="Earth",diameter = "12742"))

The diameter of Earth is 12742 kilometer

## 3. In this nest dictionary grab the word "hello"

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
d['k1'][3]['tricky'][3]['target'][3]

'hello'

# Numpy

In [ ]:
import numpy as np

## 4.1 Create an array of 10 zeros? 
## 4.2 Create an array of 10 fives?

In [ ]:
import numpy as np
array = np.zeros(10)

In [ ]:
import numpy as np
array = np.ones(10)*5

## 5. Create an array of all the even integers from 20 to 35

In [ ]:
import numpy as np
array = np.arange(20,36,2)

## 6. Create a 3x3 matrix with values ranging from 0 to 8

In [ ]:
import numpy as np
np.arange(0,9).reshape(3,3)

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

## 7. Concatenate a and b 
## a = np.array([1, 2, 3]), b = np.array([4, 5, 6])

In [ ]:
import numpy as np
a = np.array([1,2,3])
b = np.array([4,5,6])

# Pandas

## 8. Create a dataframe with 3 rows and 2 columns

In [ ]:
import pandas as pd
data = {'Name': ['aaa','bbb','ccc','ddd'], 'Std': ['V','VI','V','VII']}
df = pd.DataFrame(data)
df

  Name  Std
0  aaa    V
1  bbb   VI
2  ccc    V
3  ddd  VII

## 9. Generate the series of dates from 1st Jan, 2023 to 10th Feb, 2023

In [ ]:
import pandas as pd
time = pd.data_range(Start = '01-01-2023',end = '02-10-2023')
for x in time:
  print (x)

AttributeError: ignored

## 10. Create 2D list to DataFrame

lists = [[1, 'aaa', 22],
         [2, 'bbb', 25],
         [3, 'ccc', 24]]

In [ ]:
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]

In [ ]:
import pandas as pd
data = {'Roll.No': ['1','2','3'], 'Name': ['aaa','bbb','ccc'], 'Age': ['22','25','24']}
df = pd.DataFrame(data)
df

  Roll.No Name Age
0       1  aaa  22
1       2  bbb  25
2       3  ccc  24